<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tuya.dev.iotos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.tuya.dev.iotos.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.IotAppSample">

        <activity
            android:name="com.tuya.dev.iotos.authScan.AuthFirstActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IotAppWhite">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tuya.dev.iotos.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:theme="@style/Theme.IotAppWhite"/>

        <activity
            android:name="com.tuya.dev.iotos.MainManagerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTask" />

        <activity
            android:name="com.tuya.dev.iotos.activator.ActivatorWifiSetActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />

        <activity
            android:name="com.tuya.dev.iotos.activator.ActivatorProcessActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />

        <activity
            android:name="com.tuya.dev.iotos.activator.ActivatorQRConfigActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />

        <activity
            android:name="com.tuya.dev.iotos.devices.DevicesInAssetActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tuya.dev.iotos.authScan.AuthScanActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".assets.AssetsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".activator.ActivatorResultActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"/>

    </application>

</manifest>