<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tuya.iotapp.sample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".BaseApplication"
        android:label="@string/app_name"
        android:supportsRtl="true"
        xmlns:tools="http://schemas.android.com/tools"
        tools:replace="android:theme"
        android:theme="@style/Theme.IotAppSample">
        <activity
            android:name=".LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainManagerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTask" />

        <activity
            android:name=".activator.WifiConfigurationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />

        <activity
            android:name=".activator.MultiWifiConfigActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />

        <activity
            android:name=".activator.QRConfigActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />

        <activity
            android:name=".assets.AssetsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />

        <activity
            android:name=".devices.DevicesInAssetActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"/>

        <activity
            android:name=".devices.DeviceControlerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"/>

    </application>

</manifest>